<h1> Show Locations Page </h1>

<p>Name: <%= @location.place_name %></p>
<p>Borough: <%= @location.boro %></p>
<p>Details: <%= @location.details %></p>
<p>Wifi Name: <%= @location.ssid %></p>
<p>Address: <%= @location.address %></p>
<p>Latitude: <%= @location.lat %></p>
<p>Longitude: <%= @location.long %></p>


