<h1> Show Locations Page </h1>

<iframe width="600" height="300" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col6+from+1BupYHGSvfMG7EzT8m5_b-_pAE0fHWjr-9dAEiKgD&amp;viz=MAP&amp;h=false&amp;lat=<%= @location.latitude %>&amp;lng=<%= @location.longitude %>&amp;t=1&amp;z=18&amp;l=col6&amp;y=2&amp;tmplt=2&amp;hml=TWO_COL_LAT_LNG"></iframe>
<% #wanna render a view, need to figure out a better way to change zoom.   %>

<p>Name: <%= @location.place_name %></p>
<p>Borough: <%= @location.boro %></p>
<p>Details: <%= @location.details %></p>
<p>Wifi Name: <%= @location.ssid %></p>
<p>Address: <%= @location.address %></p>
<p>Latitude: <%= @location.latitude %></p>
<p>Longitude: <%= @location.longitude %></p>
<br>

<%= link_to "Edit Location", edit_location_path %><br>
<%= link_to "Add a Comment?", new_comment_path %><br>
