<h1> Show Locations Page </h1>

<%= render partial: "map", locals: { location: @location, radius: 0.1, width: 600, height: 300 } %>

<% #wanna render a view, need to figure out a better way to change zoom.   %>

<p>Name: <%= @location.place_name %></p>
<p>Borough: <%= @location.boro %></p>
<p>Details: <%= @location.details %></p>
<p>Wifi Name: <%= @location.ssid %></p>
<p>Address: <%= @location.address %></p>
<p>Latitude: <%= @location.latitude %></p>
<p>Longitude: <%= @location.longitude %></p>
<br>

<%= link_to "Edit Location", edit_location_path %><br>
