<!DOCTYPE html>
<html>
<head>
  <title>WhereFiApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= form_tag(locations_path, method: :get) do%>
    <%= label_tag(:address, 'Address') %>
    <%= text_field_tag(:location, params[:location]) %>
    <%= text_field_tag(:distance, params[:distance]) %>
    <%= submit_tag("Search", name: :nil) %>
  <% end %>

<%= yield %>

</body>
</html>
