<h1> Nearby Wifi Hotspots </h1>
<% #I am adding the @location.latitude and @location.longitude as the center of the map %>
<div class = "comments_container">
	<div class = "users" >
		<%= render partial: "map", locals: { location: @location, zoom: convert_radius_to_zoom(@radius), width: 600, height: 300 } %>
</div>
</div> 

<h3><%= "No Hotspots in your search radius" if @near_wifi.empty? %></h3>
<div class = "comments_container">
	<% @near_wifi.each do |near_wifi| %>
		<div class = "users" >
			<p>Place: <%= near_wifi.place_name %></p>
			<p>Address:<%= near_wifi.address %></p>
			<p>Distance: <%= @location.distance_to(near_wifi).round(2) %> Miles </p>
			<p><%= link_to "Show Details", location_path(near_wifi) %></p>
			<p><%= button_to "Add to Favorites", add_favorite_to_user_path(session[:current_user_id], near_wifi.id) if session[:current_user_id] %></p>
		</div>
	<% end %>
</div>