<h1> Location Details </h1>

<%= render partial: "map", locals: { location: @location, zoom: convert_radius_to_zoom(0.1), width: 600, height: 300 } %>

<p>Name: <%= @location.place_name %></p>
<p>Details: <%= @location.details %></p>
<p>Wifi Network Name: <%= @location.ssid %></p>
<p>Address: <%= @location.address %></p>

<%= link_to "Edit Location", edit_location_path %><br>

<%= link_to "Add a Comment?", new_location_comment_path(@location) %><br><br>

<h3> Comments for <%= @location.place_name %> </h3>
<% @location.comments.each do |comment| %>
<h4>Username: <%= comment.get_username %></h4>
<p>Content: <%= comment.content %></p>
	<%= button_to "Delete Comment", location_comment_path(@location, comment.id), method: :delete %>
	<hr>
<% end %> 

<%= link_to "Compare Nearby Wifi", chart_location_path %>
