<h1> Show Locations Page </h1>

<%= render partial: "map", locals: { location: @location, zoom: convert_radius_to_zoom(0.1), width: 600, height: 300 } %>

<% #wanna render a view, need to figure out a better way to change zoom.   %>

<%= form_tag(locations_path), method: :get) do%>
  <%= label_tag(:Sort_by, 'Sort by') %>
  <%= select(:sort, :sort_value, options_for_select([["Distance", 1], ["Most Popular", 2]])) %><br>
  <%= button_tag("Sort")%>
<% end %><%= form_tag(searches_location_path(@location), method: :get) do%>
  <%= label_tag(:Search, 'Cafe,Hotel,Bar?') %>
  <%= text_field_tag("location", params[:searches]) %>
  <%= button_tag("Search")%>
<% end %>
<p>Name: <%= @location.place_name %></p>
<p>Borough: <%= @location.boro %></p>
<p>Details: <%= @location.details %></p>
<p>Wifi Name: <%= @location.ssid %></p>
<p>Address: <%= @location.address %></p>
<p>Latitude: <%= @location.latitude %></p>
<p>Longitude: <%= @location.longitude %></p>
<br>

<%= link_to "Edit Location", edit_location_path %><br>

<%= link_to "Add a Comment?", new_location_comment_path(@location) %><br><br>

<h3> Comments for <%= @location.place_name %> </h3>
<% @location.comments.each do |one_comment| %>
<h4>Username:<%= @users.find(one_comment.user_id).username %></h4>
<p>Content:<%= one_comment.content %><br><p>
	<%= button_to "Delete Comment", location_comment_path(@location, one_comment.id), method: :delete %>
	<hr>
<% end %> 

<%= link_to "Compare Nearby Wifi", chart_location_path %>
  <%= form_tag(searches_location_path(@location), method: :get) do%>
    <%= label_tag(:Search, 'Cafe,Hotel,Bar?') %>
    <%= text_field_tag("location", params[:searches]) %>
    <%= button_tag("Search")%>
  <% end %>

